.toggler {
  padding: 20px;
  background-color: #fffff0;
  // background: url("../toggle-chart/bg2.jpg") no-repeat center;
  height: 100vh;
  .btn {
    height: 60px;
    width: 200px;
    background-color: #a52a2a;

    h2 {
      color: white;
      font-size: 1.5em;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 700px) {
  .toggler {
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .toggler {
    padding-top: 75px;
  }
}
