.char {
  border: 1px solid black;

  h1,
  p {
    color: white;
    text-shadow: 3px 3px 0px #000;
  }

  p {
    letter-spacing: 2px;
    font-style: italic;
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  .char {
    h1,
    p {
      text-shadow: 1.5px 1.5px 0px #000;
    }

    h1 {
      font-size: 1em;
    }

    p {
      font-size: 1em;
    }
  }
}
