.hira__chart {
  padding: 30px;
  .chart {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: brown;
  }
}

@media (max-width: 900px) {
  .hira__chart {
    padding: 20px;

    .chart {
    }
  }
}

@media (max-width: 700px) {
  .hira__chart {
    padding: 0;
    padding-top: 40px;

    .chart {
    }
  }
}
